body {
  background-color: #777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  margin: 10px auto;
  width: 960px;
}

header, nav, footer {
  background-color: #ebebeb;
  text-align: center;
  margin: 10px auto;
  padding: 30px;
}

.section {
  background-color: #ebebeb;
  text-align: center;
  width: 495px;
  height: 240px;
  margin: 10px auto;
  float: left;
  padding-top: 30px;
}

.aside {
  background-color: #ebebeb;
  text-align: center;
  width: 445px;
  height: 240px;
  margin: 10px auto;
  float: right;
  padding-top: 30px;
}

.article {
  background-color: #777;
  color: #ebebeb;
  margin: 15px;
  padding: 15px 15px 15px 15px;
}

.h123 {
  background-color: #ebebeb;
  color: #777;
  margin: 10px;
  padding: 15px;
  font-size: 20px;
}

.p {
  background-color: #ebebeb;
  color: #777;
  margin: 10px;
  padding: 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
